*{ 
    font-family: 'Roboto', sans-serif;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* SearchBar */

.TodoSearch {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.TodoSearchLeft {
    width: 100%;
}

.TodoSearchRight {
    width: 70%;
}

/* List */

.List .list{
    margin-top: 1rem;
}

.List .filterTodolist {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.List .deleteTodolist {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

/* Alist */

.Alist{
    padding: 0.5rem 0;
  }
  
.Alist .alist-container {
    display: flex;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}
  
.Alist .alist-container span {
    cursor: pointer;
    margin: 0 5px;
}
  
.Alist .alist-container .text {
    position: relative;
    flex: 1;
    margin: 0 10px;
}

/* ListForm */

/* sx={{width:{xs: "400px", md:"800px"}, height:{xs:"280px", md:"560px"}}} */

.ListForm{
    background-color: white;
    padding: 2rem ;
    padding-top: 0;
    border-radius: 5px;
    width: 600px;
    height: 170px;
}

.ListForm .text{
    margin: 0 0 1rem 0;
}

@media screen and (max-width: 768px){
    .ListForm{
        width: 400px;
        height: 180px;
    }
}